#browser-filebox {
  background: #fff;
}
#browser-filebox h4 {
  margin-top: 0;
}
#filebox-notice, #filebox-errors {
  padding: 1ex;
  display: none;
}
.message.error {
  border-color: #c00;
}
#user-select {
  width: 250px;
}
#right {
  display: none;
}
#left.shrunk { 
  float: left; 
  width: 100%;
}
#right.grown { 
  float: left; 
  width: 20%;
  margin: 5px;
  background: white none repeat scroll 0 0;
}
.user-entry { 
  border:1px dotted #ddd;
  padding:3px;
  float:left;
  margin:2px;
  cursor:pointer;
}
.user-entry .remover {
  color: red;
  float: right;
  margin-left: 1ex;
  margin-top: -3px;
}
