#browser-filebox {
  background: #fff;
}
#browser-filebox h4 {
  margin-top: 0;
}
#filebox-notice, #filebox-errors {
  margin: 1em;
  padding: 1ex;
  border-radius: 7px;
  -moz-border-radius: 7px;
}
#right {
  display: none;
}
#left.shrunk { 
  float: left; 
  width: 100%;
}
#right.grown { 
  float: left; 
  width: 20%;
  margin: 5px;
  background: white none repeat scroll 0 0;
}
