<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <div id="browser-filebox">
    <form id="filebox-form" action="${href.share()}" method="post">
      <input name="repository" type="hidden" value="${reponame}"/>
      <div><label for="filebox-files">Selected files/folders:</label><br/>
        <select style="width:100%" multiple="multiple" id="filebox-files" name="filebox-files" py:with="files = files or []">
          <option py:for="file in files" value="file" selected="selected">$file</option> 
        </select>
      </div>
      <div id="filebox-notice" class="message"/>
      <div id="filebox-errors" class="error message"/>
      <div id="sourcesharer">
        <div>
          <label for="user-select">Select recipient(s):</label><br/>
          <select id="user-select" name="user-select">
            <option value="">Select user(s)</option>
          </select>
        </div>
        <label for="selected-users">To:</label>
        <div id="selected-users"></div>
        <div style="clear:left"></div>
        <div>
          <label for="subject">Subject:</label><br/>
          <input type="text" name="subject" id="subject"/>
        </div>
        <div>
          <label for="subject">Message:</label><br/>
          <textarea name="message" id="message" style="width:100%;height:10em"></textarea>
        </div>
        <div class="buttons">
            <input type="submit" id="do_send" value="Send"/>
            <input type="submit" id="cancel" value="Cancel"/>
        </div>
      </div>
    </form>
  </div>

</html>