<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Share files</title>
  </head>
  <body>
  <div id="content" class="sourcesharer" style="width:50%; margin: 0 auto">
    <select id="user" name="user">
    <option>Pick User(s)</option>
    </select>
    <div id="selected-users"></div>
    <label for="files">Files to send:</label><br/>
    <select multiple="multiple" id="files" name="files" py:with="files = files or []">
      <option py:for="file in files" value="file" selected="selected">$file</option> 
    </select>
    <div>
      <label for="subject">Subject:</label><br/>
      <input type="text" name="subject" id="subject"/>
    </div>
    <div>
      <label for="subject">Message:</label><br/>
      <textarea name="message"></textarea>
    </div>
  </div>
  </body>
</html>